[Unit]
Description=machine remote agent
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/home/chatchai/src/machine_agent
ExecStart=/home/chatchai/src/machine_agent/venv/bin/uvicorn main:app --host 0.0.0.0
# Type=oneshot

[Install]
WantedBy=multi-user.target
